[Unit]
Description=macpipe
After=network.target mnt-usb.mount
RequiresMountsFor=/mnt/usb
BindsTo=mnt-usb.mount
Wants=mnt-usb.automount
After=mnt-usb.automount

[Service]
WorkingDirectory=/opt/macpipe
Type=simple
ExecStart=/bin/python3 macpipe.py
Restart=always
RestartSec=10

[Install]
WantedBy=usb-plug.target

