[Unit]
Description=Mask USB mount/automount and stop them
PartOf=usb-eject.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl mask mnt-usb.mount mnt-usb.automount
ExecStart=/bin/systemctl stop  usb-plug.target macpipe.service udp2raw.service udptunnel-client.service
ExecStart=/bin/systemctl stop  mnt-usb.mount mnt-usb.automount usb-any.path

