[Unit]
Description=macpipe
After=network.target

[Service]
WorkingDirectory=/opt/macpipe
Type=simple
ExecStart=/bin/python3 macpipe.py
Restart=always
RestartSec=10

[Install]
WantedBy=usb-plug.target

