# /etc/systemd/system/hostapd.service

[Unit]
Description=Wi-Fi Access Point
Requires=wifi-ap-interface.service
After=wifi-ap-interface.service
After=iwd.service

[Service]
Type=simple
ExecStart=/bin/hostapd /run/hostapd-ap0.conf
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
