[Unit]
Description=udptunnel client
After=multi-user.target mnt-usb.mount
RequiresMountsFor=/mnt/usb
BindsTo=mnt-usb.mount
Wants=mnt-usb.automount
After=mnt-usb.automount
# Conflicts=usb-eject.target
# PartOf=usb-plug.target

[Service]
WorkingDirectory=/opt/udptunnel
Type=simple
ExecStart=/bin/client -i client.ini
Restart=always
RestartSec=10

[Install]
WantedBy=usb-plug.target
