[Unit]
Description=udptunnel server
After=network.target sys-devices-virtual-net-wg0.device

[Service]
User=root
WorkingDirectory=/opt/udptunnel
ExecStart=/bin/server -i server.ini
Type=simple
Restart=always
RestartSec=5

# [Install]
# WantedBy=multi-user.target


