[Unit]
Description=Caddy web server
Documentation=https://caddyserver.com/docs/
After=network-online.target
Wants=network-online.target
After=situation-map.service

[Service]
Type=notify
User=caddy
Group=caddy

Environment=XDG_DATA_HOME=/var/lib/caddy
Environment=XDG_CONFIG_HOME=/var/lib/caddy

ExecStart=/usr/bin/caddy run \
	--environ \
	--config /etc/caddy/Caddyfile \
	--adapter caddyfile

ExecReload=/usr/bin/caddy reload \
	--config /etc/caddy/Caddyfile \
	--adapter caddyfile \
	--force

TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
NoNewPrivileges=true
StateDirectory=caddy

[Install]
WantedBy=multi-user.target
