[Unit]
Description=OpenSSH server daemon
After=syslog.target network.target auditd.service macsec.service

[Service]
ExecStartPre=sleep 10
ExecStartPre=/usr/bin/ssh-keygen -A
ExecStart=/usr/sbin/sshd -D -e
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
