[Unit]
Description=udpptt PTT trigger helper
After=network.target ptt_client.service
# Wants=ptt_client.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=aplay /root/ptt_double_beep.wav
ExecStart=/bin/ptt_helper --socket /tmp/udpptt.sock --ptt_down
ExecStop=/bin/ptt_helper --socket /tmp/udpptt.sock --ptt_up
ExecStopPost=aplay /root/stop.wav

[Install]
# WantedBy=multi-user.target
