[Unit]
Description=audioreceiver (udpptt)
After=network.target

[Service]
WorkingDirectory=/tmp
ExecStart=/bin/ptt-client-from-ini.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

