[Unit]
Description=udpptt PTT trigger helper
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=aplay /root/ptt_double_beep.wav
ExecStart=/bin/ptt_helper --socket /tmp/udpptt.sock --ptt_down
ExecStop=/bin/ptt_helper --socket /tmp/udpptt.sock --ptt_up
ExecStopPost=aplay /root/stop.wav

