[Unit]
Description=dpinger service for otp tunnel
After=network-online.target
Wants=network-online.target 
Requires=sys-devices-virtual-net-wg0.device

[Service]
Type=simple
WorkingDirectory=/opt/dpinger/
ExecStart=/bin/dpinger -f -s 10s -r 10s -L 10% -i otp -t 30s -C /opt/dpinger/otp-tunnel.sh  10.10.0.1
Restart=always
RestartSec=1
TimeoutStartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
