[Unit]
Description=Spacecom file receiver
After=network.target internaldrive-connection.service sys-devices-virtual-net-wg0.device
Requires=internaldrive-connection.service sys-devices-virtual-net-wg0.device
PartOf=spacecom-stack.target internaldrive-connection.service

[Service]
Type=simple
EnvironmentFile=/opt/c2ptt/normhosts.env
ExecStartPre=/bin/mkdir -p /tmp/c2in
ExecStart=/bin/sh -c '/usr/bin/spacecom-recv addr ${NORM_REMOTE}/6003 /tmp/c2in/'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=spacecom-stack.target
