[Unit]
Description=Spacecom audio stack
Requires=spacecom.service audioreceiver-spacecom.service filemonitor-spacecom.service filereceiver-spacecom.service 
After=spacecom.service audioreceiver-spacecom.service filemonitor-spacecom.service filereceiver-spacecom.service

