[Unit]
Description=Spacecom audio stack
Requires=spacecom.service audioreceiver-spacecom.service
After=spacecom.service audioreceiver-spacecom.service

