ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*",ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523",SYMLINK+="radsensor", MODE="0666",RUN+="/opt/radiation/device-insert.sh /dev/%k"
ACTION=="remove", SUBSYSTEM=="tty", KERNEL=="ttyUSB*",ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523",RUN+="/opt/radiation/device-removed.sh /dev/%k"

