[Unit]
Description=lvgl application
After=multi-user.target dpinger.service
Conflicts=psplash.service

[Service]
WorkingDirectory=/opt/lvgl-com
Type=simple
ExecStart=/bin/lvgl-com
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
