[Unit]
Description=lvgl application
After=multi-user.target dpinger.service

[Service]
WorkingDirectory=/root
Type=simple
ExecStart=/bin/lvgl-com
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
