[Unit]
Description=Group of services started when a USB partition appears
Wants=mnt-usb.automount
After=mnt-usb.automount

# NEW: tie target's life to the mount and allow it to stop
BindsTo=mnt-usb.mount
RequiresMountsFor=/mnt/usb

# Start these when the target is started
Wants=udp2raw.service udptunnel-client.service udptunnel-server.service  wg0-up.service macpipe.service 
