# /etc/udev/rules.d/99-nitrokey3.rules
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="20a0", ENV{ID_MODEL_ID}=="42b2", RUN+="/usr/bin/nitrokey-inserted.sh"

